.sh-button {
  border-radius: 0px;
  border: thin solid transparent;
  font-size: 16px;
  font-weight: $font-weight-normal;
  @include padding(12px 16px);
}

.sh-button--primary {
  background-color: $sh-color--black;
  color: $sh-color--white;

  &:hover {
    color: $sh-color--white;
  }
}